{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% include 'categories.html' %}
        </div>
        <div class="col-md-10">
            {% for post in posts %}
                <div class="card mb-2 p-2">
                    <a href="/post/{{ post.slug }}"><h4>{{ post.title }}</h4></a>
                    <p>{{ post.body }}</p>
                    <div class="text-right">
                        <span class="badge">
                            {{ post.created_date }}
                            ||
                            <a href="/category/{{ post.category.slug }}">
                                {% if post.category.parent %}
                                    <a href="/category/{{ post.category.parent.slug }}">{{ post.category.parent }}</a> ->
                                {% endif %}
                                <a href="/category/{{ post.category.slug }}">{{ post.category }}</a>
                            </a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
